
    <div id="mainWrapper">
      <div id="infoDiv">
        <h1>Welcome</h1>
        <h5>MARIGOLD.Life exists to provide you information such as who your local funeral home providers are, what type of services they offer, and how much it costs.  Before you continue, please keep the following things in mind.</h5>
        <ul>
          <li>
            <p>MARIGOLD.Life is an informational site only.  It is not affiliated with any funeral providers.</p>
          </li>
          <li>
            <p>Cemetery and Funeral Services are two different services/costs.  MARIGOLD.Life only provides funeral home information because it's a great place to start.  Your local funeral director will assist you with the entirety of the funeral arrangement process.</p>
          </li>
          <li>
            <p>MARIGOLD.Life provides raw pricing not including package discounts or promotions provided by the local funeral home.  In order to obtain these, you need to contact the funeral home directly.</p>
          </li>
        </ul>
        <md-button class="button" ui-sref="funeralHomesList">Get Started</md-button>
      </div>
    </div>
