
    <div id="mainWrapper">
      <div id="infoDiv">
        <h3>Welcome</h3>
        <h5>You are probably visiting our site beacause a loved one has either passed away or is close to passing away. We are here to assist you during this difficult time.  Before you continue, please read all of the bullet points below</h5>
        <ul>
          <li>
            <p>MARIGOLD.Life is an informational site only.  we provide information to as accurately as we can obtain it.  Some of the information you'll find on our site is: estimated prices, reviews, and general information on funeral home establishments in your city.</p>
          </li>
          <li>
            <p>MARIGOLD.Life only provides information on funeral home services not cemetery property and services.  It's important to know that these are two seperate things.  Cemetery pricing is a bit more complex and less accessible than funeral home pricing which is why we don't offer it at this time.</p>
          </li>
          <li>
            <p>MARIGOLD.Life provides raw pricing not taking into consideration package discounts.  There are many times where funeral homes offer packages which include a discount.  In order to find out what the packages and discounts are, it's important for you to contact the local funeral home directly.  Ultimately, the only way to get an accurate price is with a contract.  Prices fluctuate and only by sigining a contract will your prices be guaranteed.</p>
          </li>
        </ul>
        <md-button id="button" ui-sref="funeralHomesList">Get Started</md-button>
      </div>
    </div>
